.center{
	text-align: center;
	}
.titre {
	text-align: center;
	color: blue;
	border-width:3px;
	border-style:double;
	border-color:red;
	padding-top:10px;
	padding-bottom:10px;
	margin-right:150px;
	margin-left:150px;
	}

	
.marge50 {
	margin-left:50px;
}

.marge75{
	margin-left:75px;
	}
	
.underline{
	text-decoration:underline;
}