.center{
	text-align: center;
	}
.titre {
	text-align: center;
	color: blue;
	border-width:3px;
	border-style:double;
	border-color:red;
	padding-top:10px;
	padding-bottom:10px;
	margin-right:150px;
	margin-left:150px;
	}
.cadre{
    background-color:#fafbfc; 
    border:1px solid #b0b0b0; 
    margin:0 0 10px 10px; 
    padding:5px; 
	
}
.image_petit{
	height:500px;
	width:1000px;
}
	
.marge50 {
	margin-left:50px;
	
}

.marge75{
	margin-left:75px;
	}
	
.underline{
	text-decoration:underline;
}